    <div class="card">
      <div class="card-header" id="heading{{section_name}}_{section_id}">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{section_name}}_{{section_id}}" aria-expanded="true" aria-controls="collapse{{section_name}}_{{section_id}}">
            Collapsible Group Item #1
          </button>
        </h2>
      </div>
  
      <div id="collapse{{section_id}}_{{section_id}}" class="collapse show" aria-labelledby="heading{{section_name}}_{{section_id}}" data-parent="#accordion{{section_name}}_id}">
        <div class="card-body">
            {{description}}
        </div>
      </div>
    </div>