<section id="user_personal_info">
  <div class="container">
    <div class="row justify-content-center">
      {% include 'profile/title.html' with title_name=title %}
    </div>
    <div class="row border">
        <div class="col-md-12">
            <div class="media pt-3">
                <img src="../../media/profile_photos/nabil/jpegbase64efd8612170d6b09.jpg" alt="" class="img-fluid" style="max-width: 150px; max-height: 150px; object-fit: cover;">
                <div class="media-body pl-5">
                    <h4>Name: {{user_profile_qs.user.username}}</h4>
                    <p>Address: {{user_profile_qs.address}}</p>
                    <p>Email: {{user_profile_qs.user.email}}</p>
                    <p>Contact: {{user_profile_qs.phone_number}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-4">
            <a href="{% url 'portfolio_app:update-userprofile' pk=user_profile.id %}" class="btn btn-primary">Upate Information</a>
    </div>
  </div>
</section>
