<section id="user_profilelink">
    <div class="container">
        <div class="row justify-content-center">
            {% include 'profile/title.html' with title_name=title %}
          </div>
        <div class="row">
            {% for link in user_profilelink_qs %}
            <div class="col-12">
                <p class="lead">
                    {{link.link_site}}: <a href="" class="text-decoration-none">{{link.link}}</a>
                    <a class="text-decoration-none text-danger" href="{% url 'portfolio_app:update-profilelink' pk=link.id %}">
                        Update Link
                      </a>
                </p>
            </div>
            {% endfor %}
            <div class="col-12 mt-4">
                <div class="card col-6 p-0 m-auto">
                    <div class="card-header bg-dark text-center text-light">
                      <a class="btn bg-dark btn-lg text-white" href="{% url 'portfolio_app:profilelink' %}" role="button">
                          Add New Links
                      </a>
                    </div>
                  </div>
            </div>
        </div>
        
    </div>
</section>