<section id="user_personal_project">
    <div class="container">
        <div class="row justify-content-center">
            {% include 'profile/title.html' with title_name=title %}
          </div>
          <div class="row">
              {% for personal_project in user_personal_project_qs %}
              <div class="col-12">
                <div class="card col-12 p-0 mb-2">
                    <div class="card-header">
                      <h4 class="card-title text-center">{{personal_project.title}}</h4>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">{{personal_project.title}}</h4>
                      {{personal_project.description|safe}}
                      <div class="text-center mt-2">
                        <a href="{% url 'portfolio_app:update-project' pk=personal_project.id %}" class="btn btn-primary btn-md text-center px-5">Update Information</a>
                      </div>
                    </div>
                </div>
              </div>
              
              {% endfor %}
              <div class="col-12">
                <div class="card col-12 p-0">
                    <div class="card-header text-center">
                      <a class="btn btn-primary btn-lg" href="{% url 'portfolio_app:project' %}" role="button">
                          Add New Project
                      </a>
                    </div>
                  </div>
              </div>
              
          </div>
    </div>
</section>