<section id="user_profilelink">
    <div class="container">
        <div class="row justify-content-center">
            {% include 'profile/title.html' with title_name=title %}
          </div>
        <div class="row">
            {% for link in user_profilelink_qs %}
            <div class="col-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        {{link.link_site}}: <a href="{{link.link}}" class="text-decoration-none" target="_blank">{{link.link}}</a>
                        <a class="text-decoration-none text-danger" href="{% url 'portfolio_app:update-profilelink' pk=link.id %}">
                            Update Link
                          </a>
                        </li>
                </ul>
            </div>
            {% endfor %}
            <div class="col-12 mt-4 text-center">
                <a class="btn btn-primary btn-md" href="{% url 'portfolio_app:profilelink' %}" role="button">
                    Add New Links
                </a>
            </div>
        </div>
        
    </div>
</section>