{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block navbar %}
{% endblock%}
{% block account_block %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
  <a class="navbar-brand m-auto" href="/portfolio/">Portfolio</a>  
      
  </nav>
{% endblock %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}
<div class="container">
  <div class="row mt-4">
{% get_providers as socialaccount_providers %}

<form class="login col-md-8 m-auto" method="POST" action="{% url 'account_login' %}">
  <h4 class="my-3">Sign in to create/update your prortfolio</h4>
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-primary px-4" type="submit">{% trans "Sign In" %}</button>
  <a class="btn btn-warning" href="{% url 'account_reset_password' %}" role="button">{% trans "Forgot Password" %}</a>
  <p class="lead pt-3">{% blocktrans %}If you have not created an account yet, then please
    <a class="font-weight-bold" href="{{ signup_url }}">sign up</a> first. Or {% endblocktrans %}</p>

    {% if socialaccount_providers %}
          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers list-unstyled">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans '' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}
</form>



{% endif %}
  </div>
</div>

{% endblock %}
