{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% block navbar %}
{% endblock%}
{% block account_block %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center .navbar-nohover">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link m-auto" href="/portfolio/">Portfolio</a>
    </li>
  </ul>      
  </nav>
{% endblock %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row mt-4 justify-content-center">
    <div class="col-md-8">
    <h3>{% trans "Sign Up" %}</h3>
    <p class="lead">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    </div>
    <form class="signup col-md-8" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-outline-success btn-block" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>

{% endblock %}
