<section id="About" class="content-section">
    <div class="container">
        <div class="row">
            {% include 'heading.html' with title_name="About Me" icon="fa-user" %}
        </div>
        <div class="row">
            <div class="col-md-9 mx-0 px-0">
                <h5 class="font-weight-bold">Hi, there !!</h5>
                  <p>Thank you for taking a visit to my portfolio.</p>
                  <p>
                    I am <span class="font-weight-bold">Moinul Hossain Nabil,</span> graduated from <a href="https://www.bubt.edu.bd/" class="font-italic font-weight-bold">Bangladesh Universiity of Business & Technology (BUBT)</a> with a Bachelor of Science Degree in <span class="font-italic font-weight-bold">Computer Science & Engineering (CSE).</span></p>
                  </p>
                  <p>
                    I also worked as a Software Engineer at BJIT Limited for 1+ year.
                  </p>
                  <p>
                    I have been lately mostly working with <strong>Python, Django, React and Bootstrap.</strong>
                  </p>
                  <p>
                    I am highly passinate about learning new technology and stack and determind to build my career as a full stack software engineer.
                  </p>
                  <!-- <p class="lead text-justify pr-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus natus delectus dolor incidunt expedita iusto animi quis numquam? Aperiam, quidem saepe perspiciatis voluptatum accusantium obcaecati magni inventore voluptatem. Voluptatum ipsam ullam perferendis eligendi ratione impedit in. Commodi mollitia asperiores cupiditate ipsa? A quae velit vero assumenda, cumque accusamus at magni! Ducimus tenetur sit illo, provident laborum incidunt natus deserunt fugiat. Quisquam quod numquam quidem dolor doloribus quibusdam voluptatum optio beatae. Labore aut accusantium exercitationem, enim impedit, in delectus laboriosam necessitatibus tenetur voluptatibus quis culpa. Accusamus, atque dignissimos culpa adipisci magni tempora vel quas harum tenetur sunt corrupti? Assumenda, nam molestiae!</p> -->
            </div>
        </div>
        
    </div>
</section>