<!DOCTYPE html>
<html lang="en">

    {% include 'head.html' %}
    {% block navbar%}
    {% include 'navbar.html' %}
    {% endblock %}
    {% block account_block %}
    {% endblock account_block %}
    <body id="Body">
      {% if messages %}
      <div class="mt-3 pt-2" id="message-div">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span id="message-close" aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
      </div>

        {% block content %}
        {% endblock %}

        {% block extra_body %}
        {% endblock %}

        {% include 'script.html' %}
        {% block extra_scripts %}
        <script>
          const message = document.getElementById("message-close")
          if(message) {
            message.addEventListener("click", function() {
            document.getElementById("message-div").style.display = "none";
          })
          }
          
        </script>
        {% endblock extra_scripts %}

    </body>
</html>