<style>
    .section-heading {
      letter-spacing: 5px;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 1.8;
      font-family: "Playfair Display", Georgia, serif;
      margin-bottom: 2em;
    }
    .section-icon {
        font-size: 1.5rem !important;
    }
    @media only screen and (max-width:352px) {
      .section-heading {
        font-size: .75rem;
      }
    }
  </style>
  
  <h4 class="section-heading"><i class="fa {{icon}} section-icon"></i>&nbsp;{{title_name}}</h4>
  