{% extends 'base.html' %}
{% load date_difference %}
{% block extra_heads %}
<style>
    #menuID .show-active a {
        color: white !important;
    }
</style>
{% endblock extra_heads %}
{% block content %}

    <div class="container-fluid">

        <!-- Profile Head Section -->

        {% if has_profile_link %}
        {% include 'profile_head.html'  with profile_link_qs=profile_link profile_qs=profile %}
        {% else %}
        {% include 'profile_head.html' with profile_qs=profile %}
        {% endif %}

        <!-- About Section -->

        {% if profile.about %}
        {% include 'about.html' with about=profile.about%}
        {% endif %}

        <!-- Education Section -->

        {% if has_education %}
        {% include 'education.html' with education_qs=education %}
        {% endif %}

        <!-- Experience Section -->

        {% if has_experience %}
        {% include 'experience.html' with experience_qs=experience %}
        {% endif %}

        <!-- Professional Project Section-->

        {% if has_professional_project %}
        {% include 'professional_project.html'  with professional_project_qs=professional_project %}
        {% endif %}

        <!-- Personal Project Section-->

        {% if has_personal_project %}
        {% include 'personal_project.html'  with personal_project_qs=personal_project %}
        {% endif %}

        <!-- Skill Section-->

        {% if has_skill %}
        {% include 'skill.html'  with skill_qs=skill %}
        {% endif %}

        <!-- Contact Section -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/portfolio/send-email/" method="post">
                    {% csrf_token %}
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Your Email: </label>
                    <input name="email" type="email" class="form-control" id="recipient-name" required>
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea name="message" class="form-control" id="message-text"></textarea>
                </div>
                <div class="form-group">
                    <input type="hidden" name="user_email" value="{{profile.user.email}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send message</button>
                    <!-- <input type="submit" value="Send Message" class="btn btn-primary"> -->
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
        </div>

{% endblock content %}
{% block extra_scripts %}
<script>
    const searchIcon = document.getElementById('searchIcon');
    const searchForm = document.getElementById('searchForm');
    searchIcon.addEventListener('click', function() {
        searchForm.classList.toggle('search-form-show');
        let icon = searchIcon.firstChild;
        if(icon.classList.contains('fa-search')) {
            icon.classList.replace('fa-search', 'fa-times');
        }
        else {
            icon.classList.replace('fa-times', 'fa-search');
        }
    })
</script>
<script>
    const menu = document.getElementById('menuID');
    const items = menu.getElementsByClassName('nav-item');
    for(let item of items) {
        item.addEventListener('click', function() {
            for(let i of items) {
                if(i.classList.contains('active')) {
                    i.classList.remove('active');
                }
            }
            item.classList.add('active');
        })
    }
</script>
<!-- <script src="https://unpkg.com/scrollreveal"></script>
<script>
    window.sr = ScrollReveal({duration: 1000});
    // sr.reveal('.content-section');
    sr.reveal('#PersonalProject .col-md-6');
</script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit.min.js" integrity="sha512-OZ9Sq7ecGckkqgxa8t/415BRNoz2GIInOsu8Qjj99r9IlBCq2XJlm9T9z//D4W1lrl+xCdXzq0EYfMo8DZJ+KA==" crossorigin="anonymous"></script>
{% endblock %}