<style>
  .searchBtn {
    color: #979DA0;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/portfolio/">Portfolio</a>
    <button
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbarID"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse align-items-center justify-content-center" id="navbarID">
        <ul class="navbar-nav" id="menuID">
          {% if not request.user.is_authenticated %}
          {% if profile.about %}
          <li class="nav-item">
            <a class="nav-link" href="#About">About</a>
          </li>
          {% endif %}
          {% if education %}
          <li class="nav-item">
            <a class="nav-link" href="#Education">Education</a>
          </li>
          {% endif %}
          {% if experience %}
          <li class="nav-item">
            <a class="nav-link" href="#Experience">Experience</a>
          </li>
          {% endif %}
          {% if professional_project %}
          <li class="nav-item">
            <a class="nav-link" href="#ProfessionalProject">Profesional Project</a>
          </li>
          {% endif %}
          {% if personal_project %}
          <li class="nav-item">
            <a class="nav-link" href="#PersonalProject">Personal Project</a>
          </li>
          {% endif %}
          {% if skill %}
          <li class="nav-item">
            <a class="nav-link" href="#TechnicalSkill">Technical Skill</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" role="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="pointer-events: cursor;">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/login/">Sign In</a>
          </li>
          {% else %}
          {% if profile.about %}
          <li class="nav-item">
            <a class="nav-link" href="#About">About</a>
          </li>
          {% endif %}
          {% if education %}
          <li class="nav-item">
            <a class="nav-link" href="#Education">Education</a>
          </li>
          {% endif %}
          {% if experience %}
          <li class="nav-item">
            <a class="nav-link" href="#Experience">Experience</a>
          </li>
          {% endif %}
          {% if professional_project %}
          <li class="nav-item">
            <a class="nav-link" href="#ProfessionalProject">Profesional Project</a>
          </li>
          {% endif %}
          {% if personal_project %}
          <li class="nav-item">
            <a class="nav-link" href="#PersonalProject">Personal Project</a>
          </li>
          {% endif %}
          {% if skill %}
          <li class="nav-item">
            <a class="nav-link" href="#TechnicalSkill">Technical Skill</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/portfolio/">{{request.user.username|capfirst}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portfolio/user_profile/">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/logout/">Sign Out</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" id="searchIcon" role="button"><i class="fa fa-search"></i></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 d-none" id="searchForm" method="get" action="{% url "portfolio_app:user-home" %}">
          <input class="form-control mr-sm-2" type="text" name="user_name" placeholder="username" aria-label="Search" autofocus="autofocus" required>
          <button class="btn btn-outline-secondary searchBtn my-2 my-sm-0" type="submit">Search portfolio</button>
        </form>
      </div>
  </nav>