<style>
  .project-image {
    width: 100% !important;
    max-height: 200px !important;
    object-fit: cover !important;
  }
  .project-card:hover {
    /* first is X where +X is right and -X left */
    /* second is Y where +Y is down and -Y up */
    /* four is for color/shadow spreading area */
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .modal-link {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #e22c2f;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    color: #222;
    font-size: 15px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 4px;
    padding: 16px 0 6px;
    text-decoration: none;
    text-transform: capitalize;
}
.project-card {
  position: relative;
}
.view-project-button {
  position: absolute;
  top: 40%;
  left: 37%;
}
.view-project-button {
  display: none;
}
.project-card:hover + .view-project-button, .view-project-button:hover  {
  display: inline-block;
}
@media only screen and (max-width: 400px) {
  .view-project-button {
    top: 30%;
    left: 25%;
}
}

</style>
<section id="PersonalProject" class="content-section">
  <div class="container">
    <div class="row">
      {% include 'heading.html' with title_name="Personal Project" icon="fa-briefcase" %}
    </div>
    <div class="row">
      {% for project in personal_project_qs %}
      <div
        class="col-sm-12 col-md-6 mb-3 pl-0 project-column"
      >
        <div class="card project-card text-center">
          <div class="card-header text-white" style="background-color: #2F4F4F;">
            <h4 class="lead m-auto text-capitalize">{{project.title}}</h4>
          </div>
          {% if project.image.url %}
          <img
            src="{{project.image.url}}"
            alt="Project Image"
            class="card-img-top img-fluid border project-image"
          />
          {% endif %}
          <div class="card-body">
            <h5 class="lead card-title font-weight-bold">Tehcnologies</h5>
            <p
              class="lead font-weight-normal card-text p-0 m-0 text-capitalize"
            >
              {{project.used_technologies}}
            </p>
            <div class="mt-2">
                <a
              data-toggle="modal"
              data-target="#project-modal-{{project.id}}"
              class="mt-5 card-text text-decoration-none text-black modal-link mx-2"
              style="cursor: pointer;"
            >
              View Description
            </a>
            {% if project.code_link %}
            <a
              class="mt-5 card-text text-decoration-none text-black modal-link"
              href="{{project.code_link}}"
              target="_blank"
              style="cursor: pointer;"
            >
              Source Code
            </a>
            {% else %}
            {% with message_code="No source code available" %}
            <a
              class="mt-5 card-text text-decoration-none text-black modal-link"
              style="cursor: pointer;"
              data-toggle="modal"
              data-target="#noSourceCodeOf{{project.id}}"
            >
              Source Code
            </a>

            <div
          class="modal fade bd-example-modal-lg"
          id="noSourceCodeOf{{project.id}}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-md">
            <div class="modal-content">
              <div class="container">
                    <h4 class="lead pt-5">{{message_code}}</h4>
              </div>
              <div class="modal-footer border-0">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <!-- <button type="button" class="btn btn-primary">Send message</button> -->
              </div>
            </div>
          </div>
          {% endwith %}
        </div>

            {% endif %}
            </div>
          </div>
        </div>
        {% if project.project_link %}
        <a class="btn btn-danger btn-md px-4 view-project-button" href="{{project.project_link}}" target="_blank" role="button">View Project</a>
        {% endif %}

        <!-- Modal -->
        <div
          class="modal fade bd-example-modal-lg"
          id="project-modal-{{project.id}}"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myLargeModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="container">
                <div class="row mt-3 px-2">
                  <div class="col-md-12">
                    <div class="card col-12 p-0 mb-2">
                      <div class="card-header">
                        <h4 class="card-title text-center">{{project.title}}</h4>
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">{{personal_project.title}}</h4>
                        {{project.description|safe}}
                        <h4>Technologies Used</h4>
                        <p>{{project.used_technologies}}</p>
                      </div>
                  </div>
                  </div>
                </div>
                
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</section>
