{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row mb-3">
    <div class="col-lg-8 m-auto">
      {% if  form.instance.pk%}
      <h4 class="text-center form-heading">Update Project</h4>
      {% else %}
      <h4 class="text-center form-heading">Add Project</h4>
      {% endif %}
        <form class="form" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.media}}
          {{form|crispy}}
          <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
