{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  #skillInput .form-control:focus {
    box-shadow: none;
  }
</style>
<div class="container">
    <form id="task_form" method="post">
        {% csrf_token %}
        <div class="row justify-content-center mt-4" id="skillInput">
          <div class="col-md-6">
            <input class="form-control my-2" type="text" id="new_task" placeholder="Add a new skill" required/>
            <input class="btn btn-success btn-block" type="submit" value="Add Skill" />
          </div>
        </div>
    </form>
    <div class="row justify-content-center my-3">
      <div class="col-md-6 justify-content-center">
        <h4 class="my-3 text-center">Added Skills</h4>
        <ul class="text-center list-group-flush" id="task_list"></ul>
        <button class="btn btn-outline-primary btn-block" id="submit_task">Update Skills</button>
      </div>
    </div>
    <br>
    <hr />
    <div class="row justify-content-center my-3">
      <div class="col-md-6 justify-content-center">
        <h4 class="my-3 text-center">Current Skills</h4>
        <ul class="list-group">
          {% for task in data %}
          <li class="list-group-item">{{task}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% block extra_scritps %}
  <script>
    let task_form = document.querySelector("#task_form");
    let new_task = document.querySelector("#new_task");
    let task_list = document.querySelector("#task_list");
    let submti_task = document.querySelector("#submit_task");
  
    task_form.addEventListener("submit", addTask);
    task_list.addEventListener("click", deleteTask);
    submti_task.addEventListener("click", submitTask);
  
    function addTask(event) {
      if (new_task.value == "") {
        alert("Please add a task");
        event.preventDefault();
      } else {
        event.preventDefault();
        let task = new_task.value;
        let element = document.createElement("li");
        element.setAttribute('class', 'list-group-item my-1');
        element.appendChild(document.createTextNode(task + " "));
        let delete_link = document.createElement("a");
        delete_link.setAttribute("href", "#");
        delete_link.innerHTML = "delete ";
        element.appendChild(delete_link);
        task_list.appendChild(element);
        new_task.value = "";
      }
    }
  
    function deleteTask(event) {
      if (event.target.hasAttribute("href")) {
        let element = event.target.parentElement;
          element.remove();
      }
    }
  
    function getCSRFToken(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
  
    function submitTask(event) {
      event.preventDefault();
      const csrf_token = getCSRFToken('csrftoken');
      const taskList = document.querySelector("#task_list");
      let addedTasks = taskList.querySelectorAll("li");
      const host = "{{host}}"
      const url = `http://${host}/portfolio/add-skill/`;
      let data = [];
      for(let task of addedTasks) {
        data.push(task.firstChild.textContent);
      }
      fetch(url, {
        method: 'POST',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrf_token
        },
        body: JSON.stringify(data),
      })
      .then(response => {
        return response.json();
      })
      .then(data=> {
        console.log(data);
        window.location.reload();
      })
    }
    </script>
    {% endblock extra_scritps %}

{% endblock %}
